.bz-indian,.bz-hover-indian:hover{color:#fff!important;background-color:#B0171F!important}
.bz-crimson,.bz-hover-crimson:hover{color:#fff!important;background-color:#DC143C!important}
.bz-maroon,.bz-hover-maroon:hover{color:#fff!important;background-color:#800000!important}
.bz-raspberry,.bz-hover-raspberry:hover{color:#fff!important;background-color:#872657!important}
.bz-deeppink,.bz-hover-deeppink:hover{color:#fff!important;background-color:#FF1493!important}
.bz-orchid,.bz-hover-orchid:hover{color:#fff!important;background-color:#DA70D6!important}
.bz-darkviolet,.bz-hover-darkviolet:hover{color:#fff!important;background-color:#9400D3!important}
.bz-purple,.bz-hover-purple:hover{color:#fff!important;background-color:#9B30FF!important}
.bz-beet,.bz-hover-beet:hover{color:#fff!important;background-color:#8E388E!important}
.bz-slateblue,.bz-hover-slateblue:hover{color:#fff!important;background-color:#6A5ACD!important}
.bz-cobalt,.bz-hover-cobalt:hover{color:#fff!important;background-color:#3D59AB!important}
.bz-peacock,.bz-hover-peacock:hover{color:#fff!important;background-color:#33A1C9!important}
.bz-darkturquoise,.bz-hover-darkturquoise:hover{color:#fff!important;background-color:#00CED1!important}
.bz-lightblue,.bz-hover-lightblue:hover{color:#fff!important;background-color:#7D9EC0!important}
.bz-slateblue,.bz-hover-slateblue:hover{color:#fff!important;background-color:#7171C6!important}
.bz-lightseagreen,.bz-hover-lightseagreen:hover{color:#fff!important;background-color:#20B2AA!important}
.bz-turquoiseblue,.bz-hover-turquoiseblue:hover{color:#fff!important;background-color:#00C78C!important}
.bz-mediumseagreen,.bz-hover-mediumseagreen:hover{color:#fff!important;background-color:#3CB371!important}
.bz-darkolivegreen,.bz-hover-darkolivegreen:hover{color:#fff!important;background-color:#A2CD5A!important}
.bz-chartreuse,.bz-hover-chartreuse:hover{color:#fff!important;background-color:#71C671!important}
.bz-olivedrab,.bz-hover-olivedrab:hover{color:#fff!important;background-color:#8E8E38!important}
.bz-teal,.bz-hover-teal:hover{color:#fff!important;background-color:#388E8E!important}
.bz-brightgray,.bz-hover-brightgray:hover{color:#fff!important;background-color:#C5C1AA!important}
.bz-gold,.bz-hover-gold:hover{color:#fff!important;background-color:#FFD700!important}
.bz-darkgoldenrod,.bz-hover-darkgoldenrod:hover{color:#fff!important;background-color:#B8860B!important}
.bz-darkorange,.bz-hover-darkorange:hover{color:#fff!important;background-color:#FF7F00!important}
.bz-salmon,.bz-hover-salmon:hover{color:#fff!important;background-color:#C67171!important}
.bz-gray,.bz-hover-gray:hover{color:#fff!important;background-color:#282828!important}

.bz-text-indian,.bz-hover-text-indian:hover{color:#B0171F!important}
.bz-text-crimson,.bz-hover-text-crimson:hover{color:#DC143C!important}
.bz-text-maroon,.bz-hover-text-maroon:hover{color:#800000!important}
.bz-text-raspberry,.bz-hover-text-raspberry:hover{color:#872657!important}
.bz-text-deeppink,.bz-hover-text-deeppink:hover{color:#FF1493!important}
.bz-text-orchid,.bz-hover-text-orchid:hover{color:#DA70D6!important}
.bz-text-darkviolet,.bz-hover-text-darkviolet:hover{color:#9400D3!important}
.bz-text-purple,.bz-hover-text-purple:hover{color:#9B30FF!important}
.bz-text-beet,.bz-hover-text-beet:hover{color:#8E388E!important}
.bz-text-slateblue,.bz-hover-text-slateblue:hover{color:#6A5ACD!important}
.bz-text-cobalt,.bz-hover-text-cobalt:hover{color:#3D59AB!important}
.bz-text-peacock,.bz-hover-text-peacock:hover{color:#33A1C9!important}
.bz-text-darkturquoise,.bz-hover-text-darkturquoise:hover{color:#00CED1!important}
.bz-text-lightblue,.bz-hover-text-lightblue:hover{color:#7D9EC0!important}
.bz-text-slateblue,.bz-hover-text-slateblue:hover{color:#7171C6!important}
.bz-text-lightseagreen,.bz-hover-text-lightseagreen:hover{color:#20B2AA!important}
.bz-text-turquoiseblue,.bz-hover-text-turquoiseblue:hover{color:#00C78C!important}
.bz-text-mediumseagreen,.bz-hover-text-mediumseagreen:hover{color:#3CB371!important}
.bz-text-darkolivegreen,.bz-hover-text-darkolivegreen:hover{color:#A2CD5A!important}
.bz-text-chartreuse,.bz-hover-text-chartreuse:hover{color:#71C671!important}
.bz-text-olivedrab,.bz-hover-text-olivedrab:hover{color:#8E8E38!important}
.bz-text-teal,.bz-hover-text-teal:hover{color:#388E8E!important}
.bz-text-brightgray,.bz-hover-text-brightgray:hover{color:#C5C1AA!important}
.bz-text-gold,.bz-hover-text-gold:hover{color:#FFD700!important}
.bz-text-darkgoldenrod,.bz-hover-text-darkgoldenrod:hover{color:#B8860B!important}
.bz-text-darkorange,.bz-hover-text-darkorange:hover{color:#FF7F00!important}
.bz-text-salmon,.bz-hover-text-salmon:hover{color:#C67171!important}
.bz-text-gray,.bz-hover-text-gray:hover{color:#282828!important}
